@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

:root {
    --light-blue: rgb(36, 182, 255);
    --dark-1: rgb(43, 61, 82);
    --dark-2: rgb(27, 43, 59);
    --dark-3: rgb(15, 37, 61);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial;
    color: #fff;
}

body {
    background: var(--dark-3);
    width: 100vw;
}

nav.navbar {
    z-index: 100000;
    display: flex;
    width: 100vw;
    height: 10vh;
    padding: 1em;
    background: var(--dark-2);
    justify-content: space-between;
    align-items: center;
    transition: .4s;
    position: fixed;
    top: 0;
}

nav.navbar .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

nav.navbar .logo img {
    height: 90%;
    object-fit: contain;
    margin-right: .5em;
}

nav.navbar .logo h4 {
    font-size: 1.6em;
    font-family: 'Zen Dots';
    font-style: italic;
}

nav.navbar .nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    align-items: center;
    height: 100%;
}

nav.navbar .nav-links > a {
    font-size: 1.3em;
    text-decoration: none;
    position: relative;
}

nav.navbar .nav-links > a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--light-blue);
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
}

nav.navbar .nav-links > a:hover::after {
    width: 130%;
}

nav.navbar .nav-links > button {
    font-size: 1.5em;
    padding: .3em .5em;
    border-radius: 6px;
    border: none;
    background: var(--dark-1);
    transition: .4s;
}

nav.navbar .nav-links > button > a {
    text-decoration: none;
}

nav.navbar .nav-links > button:hover {
    background: var(--light-blue);
}

nav.navbar .nav-links img {
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
}

@media (max-width: 840px) {
    nav.navbar .logo h4 {
        display: none;
    }
}

@media (max-width: 650px) {
    nav.navbar .nav-links > a {
        font-size: 1.1em;
    }

    nav.navbar .logo img {
        width: 60%;
        object-fit: contain;
    }

    nav.navbar button {
        font-size: 1.1em !important;
    }

    nav.navbar .nav-links {
        width: 400px;
    }
}

@media (max-width: 500px) {
    nav.navbar .nav-links > a {
        font-size: 1em;
    }

    nav.navbar button:last-child:not(.account-btn) {
        display: none;
    }

    nav.navbar .nav-links img {
        display: none;
    }

    nav.navbar .nav-links {
        width: 300px;
    }
}

@media (max-width: 360px) {
    nav.navbar .logo {
        display: none;
    }

    nav.navbar .nav-links {
        width: 100%;
    }

    nav.navbar {
        padding: .8em 0;
    }
}

.home-banner {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: 5vh;
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-banner .banner-content {
    width: 100vh;
    max-width: 900px;
    display: flex;
    align-items: center;
}

.home-banner .banner-content h1 {
    font-family: 'Zen Dots';
    font-size: 3em;
}

.home-banner .banner-content h4 {
    font-size: 1.5em;
}

.home-banner .banner-content .left,
.home-banner .banner-content .right {
    width: 50%;
}

.home-banner .banner-content .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 980px) {
    .home-banner .banner-content {
        flex-direction: column;
    }

    .home-banner .banner-content .left {
        order: 2;
        text-align: center;
    }
}

@media (max-width: 730px) {
    .home-banner .banner-content .left h1 {
        font-size: 2.5em;
    }

    .home-banner .banner-content .left h4 {
        font-size: 1.3em;
        max-width: 500px;
    }

    .home-banner .banner-content .left {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .home-banner .banner-content .left h1 {
        font-size: 2.2em;
    }

    .home-banner .banner-content .left h4 {
        font-size: 1.1em;
    }
}

.panels {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
}

.panels > .panel {
    display: flex;
    width: 90vw;
    max-width: 800px;
    background: var(--dark-1);
    padding: 1em 1.5em;
    border-radius: 12px;
    margin-bottom: 2em;
}

.panels > .panel .panel-content {
    height: 80px;
}

.panels > .panel .panel-content h1 {
    font-size: 2.3em;
}

.panels > .panel .panel-content p {
    font-size: 1.3em;
    max-width: 80%;
}

.panels > .panel img {
    width: 30%;
    min-height: 200px;
    transform: translate(30%, -30%);
}

.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

.auth-page > h1 {
    margin-top: .5em;
    margin-bottom: .2em;
    font-size: 2.5em;
    font-family: 'Zen Dots';
}

.auth-page .auth-form {
    width: 80vw;
    max-width: 350px;
    height: 430px;
    box-shadow: 0 4px 6px 2px #0005;
    border-radius: 24px;
    margin-top: .5em;
    padding: 1em 1.2em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.auth-page .auth-form .auth-content {
    display: flex;
    flex-direction: column;
}

.auth-form .auth-field {
    display: flex;
    flex-direction: column;
    margin-top: .8em;
}

input {
    font-size: 1.2em;
    padding: .3em .6em;
    border-radius: 6px;
    border: none;
    background: var(--dark-1);
}

input:focus {
    outline: none;
    border: 2px solid var(--light-blue);
}

.auth-form .auth-field > label {
    font-size: 1.2em;
}

input::placeholder {
    color: #fff;
}

.auth-form > button {
    margin-top: 1em;
    font-size: 1.2em;
    padding: .4em 0;
    border-radius: 80px;
    border: none;
    background: var(--dark-1);
    cursor: pointer;
    width: 100%;
}

.auth-form > button:hover {
    background:rgba(43, 61, 82, 0.6);
}

.auth-form .auth-content > a {
    margin: .2em 0;
}

.auth-form .auth-content .auth-field:last-of-type input {
    margin-bottom: .5em;
}

.popup {
    width: 80vw;
    max-width: 400px;
    position: fixed;
    top: 20px;
    left: 50%;
    box-shadow: 0 2px 6px 2px #0005;
    padding: .5em .8em;
    border-radius: 6px;
    transition: .4s;
    z-index: 10000000000000000000000000000000000000; /* just to make sure it is on top of everything 😉 */
    /* ^^^^^^^^^ very necessary. 😅 */
}

.popup-error {
    background: rgb(228, 72, 72);
}

.popup-success {
    background: rgb(35, 194, 35);
}

.verification-page,
.verify-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify {
    width: 350px;
    padding: 1em;
    background: var(--dark-1);
    border-radius: 10px;
}

.verify p {
    margin-top: .8em;
}

.verify button {
    margin-top: 1.3em;
    font-size: 1.2em;
    padding: .3em .5em;
    width: 100%;
    border-radius: 30px;
    border: none;
    background: var(--dark-3);
    transition: .4s;
}

.verify button:hover {
    cursor: pointer;
    background: rgba(15, 37, 61, 0.5);
}

.new-project {
    width: 100vw;
    padding: 12vh 2em 0 2em;
}

.new-project > h1 {
    font-size: 2.5em;
    font-family: 'Zen Dots';
}

.new-project > h4 {
    font-size: 1.5em;
    margin-bottom: .2em;
    margin-top: 1em;
}

.new-project .field-container {
    display: flex;
    flex-wrap: wrap;
}

.new-project .field-container .input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 1em;
}

.new-project .field-container .input label {
    font-size: 1.2em;
    margin-bottom: .2em;
}

.new-project .field-container .input input[type=text] {
    width: 300px;
}

input[type=checkbox] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    margin-top: .3em;
}

input[type=checkbox]::after {
    content: "";
    width: 35px;
    height: 35px;
    background: var(--dark-2);
    box-shadow: 0 1px 2px 1px #0008;
    position: absolute;
    border-radius: 50%;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .4s;
}

input[type=checkbox]:checked::after {
    left: calc(60% + 3px);
    background: var(--dark-2);
}

input[type=checkbox]:checked {
    background: var(--light-blue);
}

.new-project button:last-child {
    font-size: 1.5em;
    padding: .3em 2em;
    border-radius: 50px;
    border: none;
    background: var(--dark-1);
    margin-top: 2em;
    transition: .4s;
}

.new-project button:last-child:hover {
    cursor: pointer;
    background: rgba(43, 61, 82, 0.6)
}

.submit-error {
    background: rgb(228, 72, 72);
    width: max-content;
    padding: .5em 1em;
    border-radius: 6px;
    margin-top: 1em;
}

.project-page {
    width: 100vw;
    padding: 12vh 2em 0 2em;
}

.project-page .url-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80vw;
}

.project-page > .project-banner {
    width: 100%;
    background: var(--dark-1);
    height: 200px;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 8%;
    position: relative;
}

.project-page > .project-banner > *:not(img) {
    font-family: 'Zen Dots';
    z-index: 2;
}

.project-page .project-banner > img {
    position: absolute;
    height: 100%;
    left: 0;
    z-index: 1;
    border-radius: 12px 12px 0 0;
}

.project-banner .banner-views {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    left: 0;
    background: var(--dark-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-banner .banner-views > span {
    flex: 1;
    text-align: center;
    font-size: 1.2em;
    padding: .5em 0;
    background: var(--dark-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-banner .banner-views > span:not(:first-child) {
    border-left: 1px solid var(--dark-3);
}

.project-banner .banner-views > span > h4.count {
    background: var(--dark-1);
    width: max-content;
    min-width: 30px;
    height: 30px;
    border-radius: 100px;
    font-size: 0.9em;
    margin-left: .5em;
    display: grid;
    place-items: center;
    font-weight: 400;
}

.project-bar {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.project-bar > .option {
    flex: 1;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding: .8em .5em;
    background: var(--dark-1);
    transition: .2s;
    cursor: pointer;
}

.project-bar > .option:hover {
    background:rgba(43, 61, 82, 0.8);
}

.project-bar > .option:not(:first-child) {
    border-left: 1px solid var(--dark-3);
}

.project-bar > .option.curr {
    border-bottom: 5px solid var(--light-blue);
}

.project-bar > .option a {
    text-decoration: none;
}

.navigate {
    position: fixed;
    width: 30px;
    height: 30px;
    background: var(--light-blue);
    border-radius: 50%;
    box-shadow: 0 2px 6px 2px #0003;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigate > svg {
    width: 70%;
    height: 70%;
}

.navigate-left {
    left: 10px;
}

.navigate-right {
    right: 10px;
}

.project-page .project-pane {
    margin-top: 5em;
    background: var(--dark-2);
    width: 100%;
    border-radius: 12px;
    padding: 1em 1.5em;
    min-height: 200px;
    position: relative;
}

.project-page .project-pane > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
}

.project-pane .project-announcement {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
    /* box-shadow: 0 3px 6px 2px #0005; */
    background: var(--dark-1);
    padding: 1em 1.2em;
    border-radius: 12px;
}

.project-pane .project-announcement > img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -10px;
    top: -10px;
}

.project-pane .project-announcement .info .version {
    margin-right: 20px;
}

.project-announcement .announcement-type {
    background: var(--light-blue);
    color: var(--dark-3);
    padding: .15em .5em;
    border-radius: 20px;
    margin-left: 20px;
}

.project-announcement > h4 {
    margin-top: .5em;
    margin-bottom: 10px;
}

.project-announcement button {
    background: var(--dark-2);
    border: none;
    font-size: 1.1em;
    margin: 0 5px;
    padding: .2em .5em;
    border-radius: 4px;
    cursor: pointer;
}

.project-announcement button:hover {
    opacity: 0.8;
}

.project-pane .create {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    background: var(--dark-1);
    border: none;
    padding: .3em .5em;
    margin-bottom: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.project-pane .create:hover {
    opacity: 0.8;
}

.announcement-popup-new {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 450px;
    min-height: 200px;
    z-index: 10000000000000000000000000; /* just to make sure it is totally on top lol ;) */ 
    background: var(--dark-3);
    padding: 1em 1.3em;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 0 1000000px #00000098;
}

.announcement-popup-new > h1 {
    font-size: 1.7em;
}

.announcement-popup-new .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
}

.announcement-popup-new .input-field label {
    font-size: 1.2em;
    margin-bottom: .2em;
}

.announcement-popup-new .input-field input {
    width: 100%;
}

.announcement-popup-new .input-field select {
    width: 100%;
    background: var(--dark-1);
    border: none;
    font-size: 1.2em;
    padding: .3em .6em;
    border-radius: 6px;
    padding-right: 1em;   
}

.announcement-popup-new > button[type=submit] {
    font-size: 1.2em;
    width: 100%;
    margin-top: 30px;
    background: var(--dark-1);
    cursor: pointer;
    padding: .5em 0;
    border-radius: 20px;
    border: none;
}

.announcement-popup-new > button[type=submit]:hover {
    opacity: 0.8;
}

.announcement-popup-new > .x {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 3em;
    font-weight: lighter;
    cursor: pointer;
}