@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

:root {
    --light-blue: rgb(36, 182, 255);
    --dark-1: rgb(43, 61, 82);
    --dark-2: rgb(27, 43, 59);
    --dark-3: rgb(15, 37, 61);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial;
    color: #fff;
}

body {
    background: var(--dark-3);
    width: 100vw;
    padding-bottom: 80px;
}

nav.navbar {
    z-index: 100000;
    display: flex;
    width: 100vw;
    height: 10vh;
    padding: 1em;
    background: var(--dark-2);
    justify-content: space-between;
    align-items: center;
    transition: .4s;
    position: fixed;
    top: 0;
}

nav.navbar .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

nav.navbar .logo img {
    height: 90%;
    object-fit: contain;
    margin-right: .5em;
}

nav.navbar .logo h4 {
    font-size: 1.6em;
    font-family: 'Zen Dots';
    font-style: italic;
}

nav.navbar .nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    align-items: center;
    height: 100%;
}

nav.navbar .nav-links > a {
    font-size: 1.3em;
    text-decoration: none;
    position: relative;
}

nav.navbar .nav-links > a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--light-blue);
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
}

nav.navbar .nav-links > a:hover::after {
    width: 130%;
}

nav.navbar .nav-links > button {
    font-size: 1.5em;
    padding: .3em .5em;
    border-radius: 6px;
    border: none;
    background: var(--dark-1);
    transition: .4s;
}

nav.navbar .nav-links > button > a {
    text-decoration: none;
}

nav.navbar .nav-links > button:hover {
    background: var(--light-blue);
}

nav.navbar .nav-links img {
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
}

@media (max-width: 840px) {
    nav.navbar .logo h4 {
        display: none;
    }
}

@media (max-width: 650px) {
    nav.navbar .nav-links > a {
        font-size: 1.1em;
    }

    nav.navbar .logo img {
        width: 60%;
        object-fit: contain;
    }

    nav.navbar button {
        font-size: 1.1em !important;
    }

    nav.navbar .nav-links {
        width: 400px;
    }
}

@media (max-width: 500px) {
    nav.navbar .nav-links > a {
        font-size: 1em;
    }

    nav.navbar button:last-child:not(.account-btn) {
        display: none;
    }

    nav.navbar .nav-links img {
        display: none;
    }

    nav.navbar .nav-links {
        width: 300px;
    }
}

@media (max-width: 360px) {
    nav.navbar .logo {
        display: none;
    }

    nav.navbar .nav-links {
        width: 100%;
    }

    nav.navbar {
        padding: .8em 0;
    }
}

.home-banner {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: 5vh;
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-banner .banner-content {
    width: 100vh;
    max-width: 900px;
    display: flex;
    align-items: center;
}

.home-banner .banner-content h1 {
    font-family: 'Zen Dots';
    font-size: 3em;
}

.home-banner .banner-content h4 {
    font-size: 1.5em;
}

.home-banner .banner-content .left,
.home-banner .banner-content .right {
    width: 50%;
}

.home-banner .banner-content .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 980px) {
    .home-banner .banner-content {
        flex-direction: column;
    }

    .home-banner .banner-content .left {
        order: 2;
        text-align: center;
    }
}

@media (max-width: 730px) {
    .home-banner .banner-content .left h1 {
        font-size: 2.5em;
    }

    .home-banner .banner-content .left h4 {
        font-size: 1.3em;
        max-width: 500px;
    }

    .home-banner .banner-content .left {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .home-banner .banner-content .left h1 {
        font-size: 2.2em;
    }

    .home-banner .banner-content .left h4 {
        font-size: 1.1em;
    }
}

.panels {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
}

.panels > .panel {
    display: flex;
    width: 90vw;
    max-width: 800px;
    background: var(--dark-1);
    padding: 1em 1.5em;
    border-radius: 12px;
    margin-bottom: 2em;
}

.panels > .panel .panel-content {
    height: 80px;
}

.panels > .panel .panel-content h1 {
    font-size: 2.3em;
}

.panels > .panel .panel-content p {
    font-size: 1.3em;
    max-width: 80%;
}

.panels > .panel img {
    width: 30%;
    min-height: 200px;
    transform: translate(30%, -30%);
}

.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

.auth-page > h1 {
    margin-top: .5em;
    margin-bottom: .2em;
    font-size: 2.5em;
    font-family: 'Zen Dots';
}

.auth-page .auth-form {
    width: 80vw;
    max-width: 350px;
    height: 430px;
    box-shadow: 0 4px 6px 2px #0005;
    border-radius: 24px;
    margin-top: .5em;
    padding: 1em 1.2em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.auth-page .auth-form .auth-content {
    display: flex;
    flex-direction: column;
}

.auth-form .auth-field {
    display: flex;
    flex-direction: column;
    margin-top: .8em;
}

input {
    font-size: 1.2em;
    padding: .3em .6em;
    border-radius: 6px;
    border: none;
    background: var(--dark-1);
}

input:focus {
    outline: none;
    border: 2px solid var(--light-blue);
}

.auth-form .auth-field > label {
    font-size: 1.2em;
}

input::placeholder {
    color: #9f9f9f;
}

.auth-form > button {
    margin-top: 1em;
    font-size: 1.2em;
    padding: .4em 0;
    border-radius: 80px;
    border: none;
    background: var(--dark-1);
    cursor: pointer;
    width: 100%;
}

.auth-form > button:hover {
    background:rgba(43, 61, 82, 0.6);
}

.auth-form .auth-content > a {
    margin: .2em 0;
}

.auth-form .auth-content .auth-field:last-of-type input {
    margin-bottom: .5em;
}

.popup {
    width: 80vw;
    max-width: 400px;
    position: fixed;
    top: 20px;
    left: 50%;
    box-shadow: 0 2px 6px 2px #0005;
    padding: .5em .8em;
    border-radius: 6px;
    transition: .4s;
    z-index: 10000000000000000000000000000000000000; /* just to make sure it is on top of everything 😉 */
    /* ^^^^^^^^^ very necessary. 😅 */
}

.popup-error {
    background: rgb(228, 72, 72);
}

.popup-success {
    background: rgb(35, 194, 35);
}

.verification-page,
.verify-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify {
    width: 350px;
    padding: 1em;
    background: var(--dark-1);
    border-radius: 10px;
}

.verify p {
    margin-top: .8em;
}

.verify button {
    margin-top: 1.3em;
    font-size: 1.2em;
    padding: .3em .5em;
    width: 100%;
    border-radius: 30px;
    border: none;
    background: var(--dark-3);
    transition: .4s;
}

.verify button:hover {
    cursor: pointer;
    background: rgba(15, 37, 61, 0.5);
}

.new-project {
    width: 100vw;
    padding: 12vh 2em 0 2em;
}

.new-project > h1 {
    font-size: 2.5em;
    font-family: 'Zen Dots';
}

.new-project > h4 {
    font-size: 1.5em;
    margin-bottom: .2em;
    margin-top: 1em;
}

.new-project .field-container {
    display: flex;
    flex-wrap: wrap;
}

.new-project .field-container .input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 1em;
}

.new-project .field-container .input label {
    font-size: 1.2em;
    margin-bottom: .2em;
}

.new-project .field-container .input input[type=text] {
    width: 300px;
}

input[type=checkbox]:not(.poll-checkbox) {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    margin-top: .3em;
}

input[type=checkbox]:not(.poll-checkbox)::after {
    content: "";
    width: 35px;
    height: 35px;
    background: var(--dark-2);
    box-shadow: 0 1px 2px 1px #0008;
    position: absolute;
    border-radius: 50%;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .4s;
}

input[type=checkbox]:not(.poll-checkbox):checked::after {
    left: calc(60% + 3px);
    background: var(--dark-2);
}

input[type=checkbox]:not(.poll-checkbox):checked {
    background: var(--light-blue);
}

.new-project button:last-child {
    font-size: 1.5em;
    padding: .3em 2em;
    border-radius: 50px;
    border: none;
    background: var(--dark-1);
    margin-top: 2em;
    transition: .4s;
}

.new-project button:last-child:hover {
    cursor: pointer;
    background: rgba(43, 61, 82, 0.6)
}

.submit-error {
    background: rgb(228, 72, 72);
    width: max-content;
    padding: .5em 1em;
    border-radius: 6px;
    margin-top: 1em;
}

.project-page {
    width: 100vw;
    padding: 12vh 2em 0 2em;
}

.url-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80vw;
}

.project-page > .project-banner {
    width: 100%;
    background: var(--dark-1);
    height: 200px;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 8%;
    position: relative;
}

.project-page > .project-banner > *:not(img) {
    font-family: 'Zen Dots';
    z-index: 2;
}

.project-page .project-banner > img {
    position: absolute;
    height: 100%;
    left: 0;
    z-index: 1;
    border-radius: 12px 12px 0 0;
}

.project-banner .banner-views {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    left: 0;
    background: var(--dark-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-banner .banner-views > span {
    flex: 1;
    text-align: center;
    font-size: 1.2em;
    padding: .5em 0;
    background: var(--dark-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-banner .banner-views > span:not(:first-child) {
    border-left: 1px solid var(--dark-3);
}

.count {
    background: var(--dark-1);
    width: max-content;
    min-width: 30px;
    height: 30px;
    border-radius: 100px;
    font-size: 0.9em;
    margin-left: .5em;
    display: grid;
    place-items: center;
    font-weight: 400;
}

.count.count-dark-3 {
    background: var(--dark-3);
}

.project-bar {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.project-bar > .option {
    flex: 1;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding: .8em .5em;
    background: var(--dark-1);
    transition: .2s;
    cursor: pointer;
}

.project-bar > .option:hover {
    background:rgba(43, 61, 82, 0.8);
}

.project-bar > .option:not(:first-child) {
    border-left: 1px solid var(--dark-3);
}

.project-bar > .option.curr {
    border-bottom: 5px solid var(--light-blue);
}

.project-bar > .option a {
    text-decoration: none;
}

.navigate {
    position: fixed;
    width: 30px;
    height: 30px;
    background: var(--light-blue);
    border-radius: 50%;
    box-shadow: 0 2px 6px 2px #0003;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigate > svg {
    width: 70%;
    height: 70%;
}

.navigate-left {
    left: 10px;
}

.navigate-right {
    right: 10px;
}

.project-page .project-pane {
    margin-top: 5em;
    background: var(--dark-2);
    width: 100%;
    border-radius: 12px;
    padding: 1em 1.5em;
    min-height: 200px;
    position: relative;
    margin-bottom: 100px;
}

.project-page .project-pane > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
}

.project-pane .project-announcement {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
    background: var(--dark-1);
    padding: 1em 1.2em;
    border-radius: 12px;
}

.project-pane .project-announcement > img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -10px;
    top: -10px;
}

.project-pane .project-announcement .info .version {
    margin-right: 20px;
}

.project-announcement .announcement-type {
    color: var(--dark-3);
    padding: .15em .5em;
    border-radius: 20px;
    margin-left: 20px;
}

.project-announcement > h4 {
    margin-top: .5em;
    margin-bottom: 10px;
}

.project-announcement button {
    background: var(--dark-2);
    border: none;
    font-size: 1.1em;
    margin: 0 5px;
    padding: .2em .5em;
    border-radius: 4px;
    cursor: pointer;
}

.project-announcement button:hover {
    opacity: 0.8;
}

.project-pane .create {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    background: var(--dark-1);
    border: none;
    padding: .3em .5em;
    margin-bottom: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.project-pane .create:hover {
    opacity: 0.8;
}

.project-pane details {
    margin-top: .7em;
}

.popup-new {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 450px;
    min-height: 200px;
    z-index: 10000000000000000000000000; /* just to make sure it is totally on top lol ;) */ 
    background: var(--dark-3);
    padding: 1em 1.3em;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 0 1000000px #00000098;
}

.popup-new > h1 {
    font-size: 1.7em;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
}

.input-field label {
    font-size: 1.2em;
    margin-bottom: .2em;
}

.input-field input {
    width: 100%;
}

.input-field select {
    width: 100%;
    background: var(--dark-1);
    border: none;
    font-size: 1.2em;
    padding: .3em .6em;
    border-radius: 6px;
    padding-right: 1em;   
}

.popup-new > button[type=submit] {
    font-size: 1.2em;
    width: 100%;
    margin-top: 30px;
    background: var(--dark-1);
    cursor: pointer;
    padding: .5em 0;
    border-radius: 20px;
    border: none;
}

.popup-new > button[type=submit]:hover {
    opacity: 0.8;
}

.popup-new > .x {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 3em;
    font-weight: lighter;
    cursor: pointer;
}

.new-announcement-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-2);
    padding: .5em .8em;
    border-radius: 6px;
    margin: .8em 0;
}

.new-announcement-comment h4 {
    font-size: 1.2em;
    margin-bottom: .5em;
    font-weight: normal;
}

.new-announcement-comment > textarea {
    min-width: 200px;
    min-height: 100px;
    width: 280px;
    font-size: 1.1em;
    border-radius: 6px;
    padding: .2em .5em;
    color: #000;
}

.new-announcement-comment > button {
    background: var(--dark-1);
    cursor: pointer;
    margin-top: .4em;
    font-size: 1.3em;
}

.announcement-comment {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: var(--dark-2);
    position: relative;
    margin: 1em 0;
    padding: .5em .6em;
    border-radius: 6px;
    padding-right: 30px;
}

.announcement-comment > img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -10px;
    top: -10px;
}

.announcement-comment .vote {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.announcement-comment .vote > *:not(.vote-count) {
    width: 20px;
    height: 10px;
    cursor: pointer;
    position: relative;
    background: var(--light-blue);
    margin: .1em 0;
}

.announcement-comment .vote > .vote-count {
    font-size: 0.8em;
}

.upvote {
    clip-path: polygon(
        50% 0%,
        100% 100%,
        0% 100%
    );
}

.downvote {
    clip-path: polygon(
        0% 0%,
        100% 0%,
        50% 100%
    );
}

.announcement-comment .vote > *:not(.vote-count):hover {
    opacity: 0.5;
}

.project-feedback {
    width: 100vw;
    padding: 12vh 2em 0 2em;
}

.project-feedback .url-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80vw;
}

.project-feedback .filter-feedback {
    width: 100%;
    display: flex;
    min-height: 40px;
}

.project-feedback .filter-feedback input {
    flex: 1;
    border-radius: 6px 0 0 6px;
}

.project-feedback .filter-feedback button {
    background: var(--dark-2);
    font-size: 1.2em;
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 0 1em;
    cursor: pointer;
}

.project-feedback .filter-feedback button:hover {
    opacity: 0.8;
}

.project-feedback > button {
    font-size: 1.3em;
    background: var(--dark-2);
    border: none;
    padding: .3em .8em;
    border-radius: 6px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: .5em 0;
    cursor: pointer;
}

.project-feedback > button:hover {
    opacity: 0.8;
}

.feedback-entry {
    display: flex;
    flex-direction: column;
    width: 500px;
    background: var(--dark-2);
    position: relative;
    margin: 1.5em 0;
    padding: .5em .6em;
    border-radius: 6px;
    padding-right: 30px;
}

.feedback-entry > img {
    position: absolute;
    width: 25px;
    height: 25px;
    left: -15px;
    top: -15px;
}

.project-threads {
    width: 100vw;
    padding: 12vh 2em 0 2em;
}

.project-threads > h1 > button {
    background: var(--dark-1);
    border-radius: 6px;
    border: none;
    font-size: 0.8em;
    padding: .3em .5em;
    cursor: pointer;
    margin-left: .5em;
}

.project-threads > h1 {
    display: flex;
    align-items: center;
}

.project-threads > h1 > button:hover {
    opacity: 0.8;
}

.project-threads > h1:last-of-type.no-threads-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.thread-preview {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--dark-1);
    padding: 15px 20px;
    border-radius: 12px;
    margin: 1em 0;
    overflow: hidden;
    cursor: pointer;
    transition: .2s;
}

.thread-preview h4 {
    font-size: 1.2em;
    margin-bottom: .3em;
}

.thread-preview .bottom {
    margin-top: .2em;
    display: flex;
    gap: .8em;
    background: var(--dark-2);
    width: 100%;
    width: calc(100% + 2 * 20px);
    margin-left: -20px;
    margin-bottom: -15px;
    padding: .5em .5em;
    margin-top: 1em;
}

.thread-preview:hover {
    transform: scale(1.05);
}

.thread-preview > h4::after {
    content: attr(data-date-created);
    margin-left: 1em;
    color: var(--light-blue);
}

.thread-page {
    width: 100vw;
    padding: 12vh 2em 0 2em;
}

.thread-page .thread-info {
    width: 100%;
    background: var(--dark-1);
    padding: 1em 1.5em;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    min-height: 150px;
}

.thread-page .thread-info > h1 {
    display: flex;
    align-items: center;
}

.thread-page .thread-info > h1::after {
    content: attr(data-date-created);
    margin-left: 0.8em;
    color: var(--light-blue);
    font-weight: lighter;
    font-size: .6em;
}

.thread-page .thread-info::after {
    content: "";
    width: 30%;
    height: 200%;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) skewX(330deg);
    background: linear-gradient(90deg, var(--light-blue) 0%, transparent 100%);
    min-width: 100px;
}

.thread-message-input {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    padding: 1em 1em;
}

.thread-message-input > input {
    flex: 1;
    font-size: 1.4em;
    border-radius: 6px 0 0 6px;
}

.thread-message-input > button {
    font-size: 1.2em;
    background: var(--dark-2);
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 0 1.5em;
    cursor: pointer;
}

.thread-message-input > button:last-of-type {
    margin: 0 .5em;
    border-radius: 8px;
    background: rgb(228, 72, 72);
}

.thread-messages {
    width: 100%;
    overflow-y: scroll;
    height: 60vh;
}

.thread-messages > .thread-message {
    width: 100%;
    max-width: 400px;
    margin: 1.5em 0;
    border-radius: 6px;
    padding: .5em .8em;
    position: relative;
}

.thread-message > .top {
    position: absolute;
    top: -20px;
    left: -20px;
    background: var(--dark-2);
    display: flex;
    align-items: center;
    padding: .2em .4em;
    border-radius: 20px;
}

.thread-message > .top > img {
    width: 20px;
    height: 20px;
    margin-right: .3em;
}

.project-reviews {
    width: 100vw;
    padding: 12vh 2em 0 2em;
}

.project-reviews > h1 > button {
    background: var(--dark-1);
    border-radius: 6px;
    border: none;
    font-size: 0.8em;
    padding: .3em .5em;
    cursor: pointer;
    margin-left: .5em;
}

.project-reviews > h1 {
    display: flex;
    align-items: center;
}

.project-reviews > h1 > button:hover {
    opacity: 0.8;
}

.project-reviews > h1:last-of-type.no-reviews-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.review {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--dark-1);
    padding: 15px 20px;
    border-radius: 12px;
    margin: 1em 0;
}

.review h4 {
    font-size: 1.2em;
    margin-bottom: .3em;
}

.review > h4::after {
    content: attr(data-date-created);
    margin-left: 1em;
    color: var(--light-blue);
}

.review .rating {
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: .5em;
}

.review > img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -13px;
    left: -13px;
}

.review > .top {
    display: flex;
}

.review > .top .rating > .filled-in {
    fill: var(--light-blue);
}

.review > .top .rating > *:not(.filled-in) {
    stroke: var(--light-blue);
}

.project-bugs > h1:last-of-type.no-bugs-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.project-bugs {
    width: 100vw;
    padding: 12vh 2em 0 2em;
}

.project-bugs > h1 > button {
    background: var(--dark-1);
    border-radius: 6px;
    border: none;
    font-size: 0.8em;
    padding: .3em .5em;
    cursor: pointer;
    margin-left: .5em;
}

.project-bugs > h1 {
    display: flex;
    align-items: center;
}

.project-bugs > h1 > button:hover {
    opacity: 0.8;
}

.project-bugs > .bug {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--dark-1);
    padding: 10px 15px;
    border-radius: 12px;
    margin: 1em 0;
    margin-top: 30px;
}

.project-bugs > .bug > .user {
    position: absolute;
    left: -20px;
    top: -15px;
    display: flex;
    gap: 8px;
    background: var(--dark-2);
    border-radius: 20px;
    padding: 3px 7px;
}

.project-bugs > .bug .user > img {
    width: 20px;
    height: 20px;
}

.project-bugs > .bug .top {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.project-bugs .bug .top > .version {
    background: var(--light-blue);
    border-radius: 20px;
    padding: 0px 8px;
}

.project-bugs .bug details {
    margin-top: 6px;
    width: 100%;
}

.project-bugs .bug details > img {
    border-radius: 10px;
    margin: 1em .2em;
    border: 5px solid var(--dark-2);
    cursor: pointer;
    max-width: 100%;
}

.project-polls {
    width: 100vw;
    padding: 12vh 2em 0 2em;
}

.project-polls > h1 > button {
    background: var(--dark-1);
    border-radius: 6px;
    border: none;
    font-size: 0.8em;
    padding: .3em .5em;
    cursor: pointer;
    margin-left: .5em;
}

.project-polls > h1 {
    display: flex;
    align-items: center;
}

.project-polls > h1 > button:hover {
    opacity: 0.8;
}

.project-polls > h1:last-of-type.no-polls-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.new-poll .input-field {
    margin-top: 1em;
    max-width: 600px;
}

.create-poll-question {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: var(--dark-1);
    display: flex;
    flex-direction: column;
    border-radius: 8px 0 0 8px;
    padding: 5px;
}

.create-poll-question > button {
    font-size: 3em;
    width: 50px;
    background: var(--dark-3);
    border: none;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em 0;
}

.create-poll-question > button:not(:last-child) {
    margin-bottom: 5px;
}

.create-poll-question > button::after {
    content: attr(data-tooltip);
    position: fixed;
    left: 0;
    font-size: 20px;
    width: max-content;
    background: var(--light-blue);
    transform: translate(calc(-100% - 30px), -10%);
    padding: .3em .6em;
    border-radius: 6px;
    display: none;
}

.create-poll-question > button::before {
    content: "";
    position: fixed;
    left: 0;
    transform: translate(calc(-100% - 21px), -5%);
    background: var(--light-blue);
    width: 10px;
    height: 20px;
    clip-path: polygon(
        0% 0%,
        100% 50%,
        0% 100%
    );
    display: none;
    z-index: 1000;
}

.create-poll-question > button:hover::after,
.create-poll-question > button:hover::before {
    display: block;
}

.create-poll-question > button img {
    width: 60%;
}

.create-poll-question > button:nth-of-type(2) img {
    width: 80% !important;
}

.new-poll .new-single-choice,
.new-poll .new-textbox-choice,
.new-poll .new-multiple-choice {
    width: 80%;
    background: var(--dark-2);
    margin-bottom: 2em;
    padding: 1.2em;
    border-radius: 12px;
    padding-top: 0;
}

.new-poll .new-single-choice input[type=checkbox],
.new-poll .new-textbox-choice input[type=checkbox],
.new-poll .new-multiple-choice input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: .5em;
    cursor: pointer;
    transform: translateY(25%);
}

.new-poll .new-single-choice input[type=checkbox]:checked,
.new-poll .new-textbox-choice input[type=checkbox]:checked,
.new-poll .new-multiple-choice input[type=checkbox]:checked {
    background: var(--light-blue);
}

.new-poll .new-single-choice > .x,
.new-poll .new-textbox-choice > .x,
.new-poll .new-multiple-choice > .x {
    font-size: 0.5em;
    position: relative;
    left: calc(100% - 10px);
    bottom: 20px;
    cursor: pointer !important;
    width: min-content;
    transform: scale(6) translateY(50%);
}

.new-poll .new-single-choice span,
.new-poll .new-textbox-choice span,
.new-poll .new-multiple-choice span {
    font-size: 2em;
    margin-left: .3em;
    cursor: pointer;
}

.poll-preview {
    width: 100%;
    max-width: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--dark-1);
    padding: 10px 15px;
    border-radius: 12px;
    margin: 1em 0;
    margin-top: 30px;
}

.poll-preview > .user {
    position: absolute;
    left: -20px;
    top: -15px;
    display: flex;
    gap: 8px;
    background: var(--dark-2);
    border-radius: 20px;
    padding: 2px 5px;
}

.poll-preview > .user > img {
    width: 20px;
    height: 20px;
}

.poll-preview .bottom {
    margin-top: .2em;
    display: flex;
    gap: .8em;
    background: var(--dark-2);
    width: calc(100% + 2 * 15px);
    margin-left: -15px;
    margin-bottom: -10px;
    padding: .5em .5em;
    margin-top: 1em;
    border-radius: 0 0 12px 12px;
    align-items: center;
}

.poll-preview > h4 {
    font-size: 1.2em;
}

.poll-preview .bottom > * {
    font-size: 1.2em;
    margin-right: 0.8em;
    margin-left: 10px;
}

.poll-preview .bottom > button {
    background: var(--light-blue);
    border-radius: 6px;
    padding: 3px 10px;
    border: none;
    cursor: pointer;
}

.questions {
    width: 100%;
    margin-top: 1em;
}

.questions > * {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--dark-1);
    padding: 15px 20px;
    border-radius: 12px;
    margin: 1em 0;
    margin-top: 20px;   
}

.questions > * > h4:first-of-type {
    font-size: 1.5em;
    margin-bottom: .2em;
}

.questions > * > p:first-of-type {
    font-size: 1.2em;
    margin-bottom: .5em;
}

.questions input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: .5em;
    cursor: pointer;
    transform: translateY(25%);
    background: var(--dark-3);
}

.questions input[type=checkbox]:checked {
    background: var(--light-blue);
}

.questions input[type=checkbox] + label {
    font-size: 1.2em;
}

.questions input:not(input[type=checkbox]) {
    background: var(--dark-2);
}

.poll-page > button {
    font-size: 1.6em;
    background: var(--light-blue);
    padding: .2em 1.1em;
    border-radius: 6px;
    border: none;
    margin-top: .5em;
    cursor: pointer;
}

.poll-page > button:hover {
    opacity: 0.8;
}

.poll-responses {
    width: 100vw;
}

.poll-responses > .poll-response {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--dark-1);
    padding: 10px 15px;
    border-radius: 12px;
    margin: 1em 0;
    margin-top: 30px;   
}

.poll-response > img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -13px;
    top: -13px;
}

.poll-response .response-answer  {
    font-size: 1.2em;
    margin-top: .5em;
    position: relative;
    margin-left: 1em;
}

.poll-response .response-answer::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 0;
    background: var(--dark-2);
    width: 5px;
    height: 100%;
    border-radius: 10px;
}

.poll-response .response-answer h4:not(span) {
    color: var(--light-blue);
    font-weight: normal;
    margin: .3em 0;
}

.poll-response .response-answer h4 > span {
    font-weight: bold;
}

.project-version-control {
    width: 100vw;
    padding: 12vh 2em 0 2em;
    position: relative;
}

.project-version-control .url-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80vw;
}

.project-version-control > a:first-of-type {
    color: var(--light-blue);
}

.project-version-control .stats {
    position: absolute;
    right: 2em;
    top: 12vh;
    display: flex;
    align-items: center;
    background: var(--dark-1);
    padding: 1em 1.2em;
    border-radius: 12px;
    width: 320px;
}

.project-version-control .stats > .icon svg {
    width: 80px;
    margin-right: 1em;
    fill: #fff;
    background: #000;
    border-radius: 50%;
}

.version-control-updates {
    background: var(--dark-1);
    border-radius: 12px;
    padding: 1em 1.5em;
    margin-top: 1em;
    min-height: 300px;
}

.version-control-updates .view-selection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.version-control-updates .view-selection > button {
    background: var(--dark-2);
    border: none;
    font-size: 1.2em;
    padding: .3em .8em;
    border-radius: 6px;
    cursor: pointer;
}

.version-control-updates .view-selection > button:hover {
    opacity: 0.8;
}

.version-control-updates > h1:first-of-type {
    text-align: center;
    margin-top: .5em;
}

.version-control-updates .commit,
.version-control-updates .pr,
.version-control-updates .branch {
    margin-top: 1em;
    background: var(--dark-2);
    max-width: max-content;
    min-width: 400px;
    width: 100%;
    padding: .8em 1em;
    border-radius: 8px;
}

.version-control-updates .commit h4:not(span),
.version-control-updates .pr h4:not(span) {
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: .4em;
}

.version-control-updates .commit a,
.version-control-updates .pr a,
.version-control-updates .branch a {
    color: var(--light-blue);
    cursor: pointer;
}

.version-control-updates .commit h4 span,
.version-control-updates .pr h4 span {
    font-weight: bold;
    margin-left: 1em;
}

.version-control-updates .commit > span,
.version-control-updates .pr > span {
    margin-left: 1em;
}

.version-control-updates .pr > p {
    margin-top: .5em;
}

.project-settings {
    width: 100vw;
    padding: 12vh 2em 0 2em;
}

.bug span.solved {
    background: var(--light-blue);
    font-size: 1.1em;
    border-radius: 6px;
    padding: .3em .5em;
    margin-top: .5em;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
}

.project-settings input {
    max-width: 600px;
}

.project-settings .project-member {
    background: var(--dark-1);
    display: flex;
    align-items: center;
    padding: .5em;
    border-radius: 8px;
    margin: .5em;
    margin-left: 0em;
    gap: 1em;
}

.project-settings .project-member img {
    height: 30px;
}

.project-settings .project-member > button {
    font-size: 1.1em;
    background: rgb(228, 72, 72);
    border: none;
    padding: .2em .4em;
    border-radius: 6px;
    cursor: pointer;
}

.project-settings > button:last-of-type {
    background: rgb(228, 72, 72);
    margin-left: 1em;
}

.project-settings > button:first-of-type {
    background: var(--light-blue);
}

.project-settings > button:last-of-type,
.project-settings > button:first-of-type {
    border: none;
    font-size: 1.2em;
    padding: .3em .8em;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5em;
}

.project-settings .input-field:last-of-type > button {
    background: var(--light-blue);
    font-size: 1.1em;
    padding: .3em .6em;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.success {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}